In [1]:
import pandas as pd
import numpy as np

In [2]:
vine_table_df = pd.read_csv('vine_table.csv')
vine_table_df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,0,RTIS3L2M1F5SM,5,0,0,N,Y
1,1,R1ZV7R40OLHKD,5,0,0,N,Y
2,2,R3BH071QLH8QMC,1,0,1,N,Y
3,3,R127K9NTSXA2YH,3,0,0,N,Y
4,4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [3]:
total_votes_20_df = vine_table_df[vine_table_df['total_votes'] >= 20]
total_votes_20_df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,55,R4PKAZRQJJX14,1,21,34,N,N
74,74,R2CI0Y288CC7E2,1,21,35,N,Y
209,209,R127WEQY2FM1T3,1,147,175,N,Y
289,289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,483,R2FJ94555FZH32,2,55,60,N,N

In [4]:
helpful_total_div_df = total_votes_20_df[total_votes_20_df['total_votes'] / total_votes_20_df['helpful_votes'] >= 0.5]
helpful_total_div_df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,55,R4PKAZRQJJX14,1,21,34,N,N
74,74,R2CI0Y288CC7E2,1,21,35,N,Y
209,209,R127WEQY2FM1T3,1,147,175,N,Y
289,289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,483,R2FJ94555FZH32,2,55,60,N,N

In [5]:
helpful_total_div_df['vine'].count()

65379

In [6]:
vine_program_df = helpful_total_div_df[helpful_total_div_df['vine'] == 'Y']
paid_count = vine_program_df['vine'].count()
print(paid_count)

104

In [7]:
not_vine_program_df = helpful_total_div_df[helpful_total_div_df['vine'] == 'N']
unpaid_count = not_vine_program_df['vine'].count()
print(unpaid_count)

65275

In [8]:
paid_percentage = paid_count / (paid_count + unpaid_count)
print(paid_percentage)

0.0015907248504871594

In [9]:
unpaid_percentage = unpaid_count / (paid_count + unpaid_count)
print(unpaid_percentage)

0.9984092751495128